<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>Visit UEK</name>
    <description></description>
    <author>
		Dominik Adamski
		Arkadiusz Jakubas
	</author>
	<platform name="android" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="~1.3.1" />
	
</widget>